* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
    .background {
      width: 750px;
    }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
    .background {
      width: 970px;
    }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .background {
    width: 1170px;
  }
}
#c {
  position: relative;
}

.container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
#container {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

/*start header*/
.en {
  border-right: none !important;
}
.header {
  /* position: absolute; */
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 90px;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
}
.sp{
    text-decoration: none;
    color: black;
    padding: 31px 25px 31px 25px !important;
    position: relative;
    border-right: 1px solid #c2c3c2;
}

.end #hov:hover , .end #c:hover {
  background-color: #16267a;
  color: white  !important; 
  
}
#c {
  display: block !important;
} 
.header .container .end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}
.header .container .end a{
  
  text-decoration: none;
  color: black;
  padding: 35px 25px 35px 25px;
  
  font-size: 1.1rem;
  border-right: 1px solid #c2c3c2;
}
.header .container {
  
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  
}
#hide {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: -33px;
  left: -114px;
  height: 34px;
  width: 191px;
  display: none;
  border-radius: 22px;
  border-width: 0.5px;
  z-index: 5;
}
.contact a {
  
  color:  #16267a !important;
  padding: 0px !important;
  font-size: 1.1rem;
  border-right: none !important;
  }


.contact {
  background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: -36px;
    height: 36px;
    width: 191px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: none;
    border-radius: 22px;
    border-width: 0.5px;
    top: 90px;
    z-index: 5;
}


/*end header*/


.background {
  background-image: url(../media/login.jpg);
  /*display : block;*/
  width : 100%;
  /*float : left;*/
  margin-right : -100%;
  position : relative;
  opacity : 1;
  z-index : 1;
  height: 79vh;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*start footer*/
h3 , p {
  margin: 11px;
}
.container h3 , .container p {
  text-align: center;
  
}


/*end footer*/

/*start body*/
.body {
  width: 60%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 54px;
  margin-top: 43px;
  margin: 43px 204px 0;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
}
.container .body {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .body a {
  text-decoration: none;
  color: black;
  padding: 24px;
  width: 100%;
  text-align: center;
}
.container .body  :hover {
  background-color: #16277aac;
  color: white;
}
.bara {
  border-bottom-left-radius: 49px;
  border-top-left-radius: 49px;
}
.goa {
  border-top-right-radius: 49px;
  border-bottom-right-radius: 49px;
}
/*end body */