
.box{
    
text-align:center;
color: rgba(0, 0, 255, 0.925);
    font-size:60px;
    width: 100%;
    height: 100%;
    border:5.5px black solid;
    padding: 5px;
    background-color:rgba(129, 141, 141, 0.507);
}

.box2
{    display:grid;
    text-align: center;
   
    margin-left:100px;
    margin-bottom: 20px;
 
    width:500px;
    font-size: 24pt;
    border: 2px solid gray;
    height:250px;
    background-color:rgba(45, 92, 153, 0.685) ;
    padding:15px;

}
   
   
   .row{display: flex;
  flex-direction: row;
  
}
.hovr{
  transition: 2.7s;
}
.hovr:hover{transform: scale(1.3);}
   


.outfit{
    background-color:rgba(40, 77, 78, 0.185);
    width:100%;
    height:fit-content;
}
#foot{
    text-align: center;
    border: 1px solid black;
    background-color: darkgray;
    font-family: sans-serif;
    font-size: 20pt;
    position: relative;
    top:70px;
    
    

}
#bgimg{
    background-image: url(nwesLetterCoverPhoto.jpg);
    background-size: cover ;
    text-decoration: none;
}
